#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

table{ 
  background: rgb(207, 207, 207); 
  border-color: blue; 
  border-style: double; 
}
tr{/** Faz o estilo para as linhas. **/
  text-align: center; /** Centraliza o conteúdo. **/
  /* color: black; */
}
th{/** Faz o estilo para as células do cabeçalho. **/
  background: rgb(170, 170, 170); /** Cor do fundo. **/
  /* color: black;  */
}
td { 
  text-align: center; 
}

.buttonClear {background-color: #939393;
  color: white;
  transition-duration: 0.4s;
  margin-top: 1em;
  margin-left: 1em;
}

.buttonClear:hover {
  background-color: #c8c8c8; /* Green */
  color: black;
  border-color: white;
  margin-top: 1em;
}

.buttonAtt {background-color: #3434ff;
  color: white;
  transition-duration: 0.4s;
  margin-top: 1em;
}

.buttonAtt:hover {
  background-color: #5996ff; /* Green */
  color: black;
  border-color: white;
  margin-top: 1em;
}

.buttonConfirm {background-color: #62e641;
  color: rgb(134, 134, 134);
  transition-duration: 0.4s;
  margin-top: 1em;
}

.buttonConfirm:hover {
  background-color: #a7ee6d; /* Green */
  color: black;
  border-color: white;
  margin-top: 1em;
}

.buttonExclude {background-color: #e76b63;
  transition-duration: 0.4s;
}

.buttonExclude:hover {
  background-color: #f33131; /* Green */
  color: black;
}


h1{
  background-color: blue;
  color: white;
  margin-top: -80px;
  margin-bottom: -8px;
  font-style: italic;
}
h2{
  background-color: blue;
  color: white;
  margin-bottom: -5px;
  padding-left: 35px;
}
ul{
  background-color: rgb(170, 170, 170);
  color: blue;
  margin-top: 1px;
}
li{
  color: white;
}